<% if @allEvents != nil %> 
  <div class="text-container">
    <table style="margin: 40px;">
      <% @allEvents.each do |event| %>
        <% if event["value"]["ifReschedule"] %>
          <tr>
            <td>Event doesn't match your weather preference, reschedule?</td>
            <td><strong><%= event["value"]["title"] %></strong></td>
            <td style="padding:0 0 0 20px;"><%= link_to 'Edit', editEvent_events_path(:eventId => event["path"]["key"]) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div style="margin: 40px;">
      <%= button_to "Create", newEvent_events_path, :method => :get, :class => "coloring" %>
    </div>
  </div>

  <div id='calendar' style="margin: 40px;"></div>
<% else %>
  <div class="text-container" style="padding: 20px;">Please Login</div>
<% end %>
